In [39]:
import pandas as pd
import numpy as np
import datetime

In [65]:
df = pd.read_excel("XLS_takehome.xlsx")

In [66]:
df

    dateordered datereturned orderstatus  orders
0    2016-12-31   2017-01-24    returned       1
1    2016-12-31          NaT    complete       8
2    2016-12-30          NaT    complete      14
3    2016-12-29          NaT    complete      14
4    2016-12-28   2016-12-29    returned       1
5    2016-12-28          NaT    complete      23
6    2016-12-27   2017-01-28    returned       1
7    2016-12-27   2017-01-25    returned       1
8    2016-12-27   2017-01-15    returned       1
9    2016-12-27   2017-01-05    returned       1
10   2016-12-27          NaT    complete      13
11   2016-12-26          NaT    complete      12
12   2016-12-25          NaT    complete       8
13   2016-12-24   2017-01-20    returned       1
14   2016-12-24   2016-12-30    returned       1
15   2016-12-24   2016-12-29    returned       1
16   2016-12-24          NaT    complete       4
17   2016-12-23          NaT    complete      12
18   2016-12-23   2017-01-01    returned       1
19   2016-12-22          NaT    complete      10
20   2016-12-21          NaT    complete       8
21   2016-12-20   2016-12-25    returned       1
22   2016-12-20   2017-01-08    returned       1
23   2016-12-20          NaT    complete      13
24   2016-12-19          NaT    complete      11
25   2016-12-18          NaT    complete      10
26   2016-12-17          NaT    complete       8
27   2016-12-16   2017-01-23    returned       1
28   2016-12-16   2017-01-20    returned       1
29   2016-12-16          NaT    complete      13
..          ...          ...         ...     ...
183  2016-08-20          NaT    complete       3
184  2016-08-19          NaT    complete       5
185  2016-08-18   2016-10-14    returned       1
186  2016-08-18          NaT    complete       5
187  2016-08-17          NaT    complete       3
188  2016-08-16          NaT    complete       1
189  2016-08-15          NaT    complete       3
190  2016-08-14          NaT    complete       6
191  2016-08-13          NaT    complete       4
192  2016-08-12          NaT    complete       8
193  2016-08-11   2016-09-10    returned       1
194  2016-08-11          NaT    complete       6
195  2016-08-11          NaT    complete       6
196  2016-08-11   2016-12-11    returned       1
197  2016-08-10          NaT    complete       4
198  2016-08-09   2016-10-27    returned       1
199  2016-08-09   2016-10-29    returned       1
200  2016-08-09          NaT    complete       9
201  2016-08-08          NaT    complete       4
202  2016-08-07          NaT    complete       5
203  2016-08-06   2016-11-13    returned       1
204  2016-08-06   2016-11-15    returned       1
205  2016-08-06   2016-11-25    returned       1
206  2016-08-06          NaT    complete       1
207  2016-08-05          NaT    complete       1
208  2016-08-04          NaT    complete       6
209  2016-08-03   2016-08-25    returned       1
210  2016-08-03          NaT    complete       8
211  2016-08-02          NaT    complete       4
212  2016-08-01          NaT    complete       4

[213 rows x 4 columns]

Since we want to measure the metrics by month, I extracted the `month_ordered` and `month_returned` as two separate columns. Meanwhile, I calculated the difference between `dateordered` and `datereturned`, for future analysis purpose.

In [70]:
# Add month column to aggregate by month
df['month_ordered'] = [d.date().month for d in df['dateordered']]
df['month_returned'] = [d.date().month for d in df['datereturned']]

# Difference between return and order data (if applicable)
df['difference'] = df['datereturned'] - df['dateordered']

In [71]:
df

,dateordered,datereturned,orderstatus,orders,month_ordered,month_returned,difference
0,2016-12-31,2017-01-24,returned,1,12,1.0,24 days
1,2016-12-31,NaT,complete,8,12,NaN,NaT
2,2016-12-30,NaT,complete,14,12,NaN,NaT
3,2016-12-29,NaT,complete,14,12,NaN,NaT
4,2016-12-28,2016-12-29,returned,1,12,12.0,1 days
5,2016-12-28,NaT,complete,23,12,NaN,NaT
6,2016-12-27,2017-01-28,returned,1,12,1.0,32 days
7,2016-12-27,2017-01-25,returned,1,12,1.0,29 days
8,2016-12-27,2017-01-15,returned,1,12,1.0,19 days
9,2016-12-27,2017-01-05,returned,1,12,1.0,9 days
10,2016-12-27,NaT,complete,13,12,NaN,NaT
11,2016-12-26,NaT,complete,12,12,NaN,NaT
12,2016-12-25,NaT,complete,8,12,NaN,NaT
13,2016-12-24,2017-01-20,returned,1,12,1.0,27 days
14,2016-12-24,2016-12-30,returned,1,12,12.0,6 days
15,2016-12-24,2016-12-29,returned,1,12,12.0,5 days
16,2016-12-24,NaT,complete,4,12,NaN,NaT
17,2016-12-23,NaT,complete,12,12,NaN,NaT
18,2016-12-23,2017-01-01,returned,1,12,1.0,9 days
19,2016-12-22,NaT,complete,10,12,NaN,NaT
20,2016-12-21,NaT,complete,8,12,NaN,NaT
21,2016-12-20,2016-12-25,returned,1,12,12.0,5 days
22,2016-12-20,2017-01-08,returned,1,12,1.0,19 days
23,2016-12-20,NaT,complete,13,12,NaN,NaT
24,2016-12-19,NaT,complete,11,12,NaN,NaT
25,2016-12-18,NaT,complete,10,12,NaN,NaT
26,2016-12-17,NaT,complete,8,12,NaN,NaT
27,2016-12-16,2017-01-23,returned,1,12,1.0,38 days
28,2016-12-16,2017-01-20,returned,1,12,1.0,35 days
29,2016-12-16,NaT,complete,13,12,NaN,NaT
...,...,...,...,...,...,...,...
183,2016-08-20,NaT,complete,3,8,NaN,NaT
184,2016-08-19,NaT,complete,5,8,NaN,NaT
185,2016-08-18,2016-10-14,returned,1,8,10.0,57 days
186,2016-08-18,NaT,complete,5,8,NaN,NaT
187,2016-08-17,NaT,complete,3,8,NaN,NaT
188,2016-08-16,NaT,complete,1,8,NaN,NaT
189,2016-08-15,NaT,complete,3,8,NaN,NaT
190,2016-08-14,NaT,complete,6,8,NaN,NaT
191,2016-08-13,NaT,complete,4,8,NaN,NaT
192,2016-08-12,NaT,complete,8,8,NaN,NaT
193,2016-08-11,2016-09-10,returned,1,8,9.0,30 days
194,2016-08-11,NaT,complete,6,8,NaN,NaT
195,2016-08-11,NaT,complete,6,8,NaN,NaT
196,2016-08-11,2016-12-11,returned,1,8,12.0,122 days
197,2016-08-10,NaT,complete,4,8,NaN,NaT
198,2016-08-09,2016-10-27,returned,1,8,10.0,79 days
199,2016-08-09,2016-10-29,returned,1,8,10.0,81 days
200,2016-08-09,NaT,complete,9,8,NaN,NaT
201,2016-08-08,NaT,complete,4,8,NaN,NaT
202,2016-08-07,NaT,complete,5,8,NaN,NaT
203,2016-08-06,2016-11-13,returned,1,8,11.0,99 days
204,2016-08-06,2016-11-15,returned,1,8,11.0,101 days
205,2016-08-06,2016-11-25,returned,1,8,11.0,111 days
206,2016-08-06,NaT,complete,1,8,NaN,NaT
207,2016-08-05,NaT,complete,1,8,NaN,NaT
208,2016-08-04,NaT,complete,6,8,NaN,NaT
209,2016-08-03,2016-08-25,returned,1,8,8.0,22 days
210,2016-08-03,NaT,complete,8,8,NaN,NaT
211,2016-08-02,NaT,complete,4,8,NaN,NaT
212,2016-08-01,NaT,complete,4,8,NaN,NaT

One thing to notice is that sometimes the difference can be very large (more than 90 days), which means the customer returned the product after using it for quite a long time. In such cases, I would count that into the ordered month. For example, an order was placed in August, but returned in November, then this case will be counted towards **August**.

I first aggregrated orders (ordered/ returned) by month, and merge them together to calculate the return rate.

One thing to note is that

https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/

In [87]:
# Get the total orders per month
temp1 = df.groupby('month_ordered')['orders'].sum()

# Get the sum of the orders per month
temp2 = df.loc[df['orderstatus'] == "returned"].groupby('month_ordered')['orders'].sum()

# Merge two
print(pd.DataFrame({"Month": range(8, 13), "Total": temp1, "Returned": temp2}).reset_index(drop = True))

   Month  Returned  Total
0      8        10    149
1      9         9    143
2     10        10    180
3     11        12    226
4     12        19    395